<html (mousemove)="onMove()">

<table>
    <tr *ngIf="mostraLista">
        <th>Nome</th>
        <th>Curso </th>
        <th>CPF </th>
        <th>Gênero </th>
        <th>Telefone </th>
    </tr>
    <tr *ngFor="let c of consultas" name="consultalist">
        <td name="nomelist">{{c.alunoProfissional.profissional.nome}}</td>
        <td name="especialidadelist">{{c.alunoProfissional.profissional.especialidade}}</td>
        <td name="meslist">{{c.mes}}</td>
        <td name="dialist">{{c.dia}}</td>
        <td name="horalist">{{c.hora}}</td>
        <td name="minutolist">{{c.hora}}</td>
    </tr>
</table>

<h3>
    Buscar Consulta:
</h3>

<table>
<tr>
    <td><label>Profissional </label></td>
    <td><input [(ngModel)]="consulta.alunoProfissional.profissional.nome" name="professionalbox"> </td>
</tr>
<tr>
    <td><label>Mês </label></td>
    <td><input [(ngModel)]="consulta.mes" name="monthbox"> </td>
</tr>
<tr>
    <td><button (click)="mostrarConsultas()">Buscar</button></td>
    <td *ngIf="mensagemErro">Preencha todos os campos</td>
</tr>
</table>

<table>
    <tr *ngIf="mostraConsultas">
        <th>Nome</th>
        <th>Especialidade </th>
        <th>Mes </th>
        <th>Dia </th>
        <th>Hora </th>
        <th>Minuto </th>
    </tr>
    <tr *ngFor="let c of consultasQuery" name="consultaquerylist">
        <td name="nomelist">{{c.alunoProfissional.profissional.nome}}</td>
        <td name="especialidadelist">{{c.alunoProfissional.profissional.especialidade}}</td>
        <td name="meslist">{{c.mes}}</td>
        <td name="dialist">{{c.dia}}</td>
        <td name="horalist">{{c.hora}}</td>
        <td name="minutolist">{{c.hora}}</td>
    </tr>
</table>

</html>
