<html (mousemove)="onMove()">


<h3>
    Nova Consulta:
</h3>

<table>
<tr>
    <td><label>Aluno </label></td>
    <td><input [(ngModel)]="consulta.aluno.nome"></td>
 </tr>
<tr>
    <td><label>Profissional </label></td>
    <td><input [(ngModel)]="consulta.profissional.nome"></td>
</tr>
<tr>
    <td><label>Data </label></td>
    <td><input [(ngModel)]="consulta.dia"></td>
    <td><label>/</label></td>
    <td><input [(ngModel)]="consulta.mes"></td>
</tr>
<tr>
    <td><label>Horário </label></td>
    <td><input [(ngModel)]="consulta.hora"></td>
    <td><label>:</label></td>
    <td><input [(ngModel)]="consulta.minuto"></td>
</tr>
<tr>
    <td><button (click)="criarConsulta(consulta)">Marcar</button></td>
</tr>
</table>

</html>
