<html (mousemove)="onMove()">


<h3>
    Nova Consulta:
</h3>

<table>
<tr>
    <td><label>Aluno </label></td>
    <td><input [(ngModel)]="nomeAluno" name="studentbox"></td>
 </tr>
<tr>
    <td><label>Profissional </label></td>
    <td><input [(ngModel)]="nomePro" name="professionalbox"></td>
</tr>
<tr>
    <td><label>Data </label></td>
    <td><input [(ngModel)]="consulta.dia" name="daybox"></td>
    <td><label>/</label></td>
    <td><input [(ngModel)]="consulta.mes" name="monthbox"></td>
</tr>
<tr>
    <td><label>Horário </label></td>
    <td><input [(ngModel)]="consulta.hora" name="hourbox"></td>
    <td><label>:</label></td>
    <td><input [(ngModel)]="consulta.minuto" name="minutebox"></td>
</tr>
<tr>
    <td><button (click)="criarConsulta(consulta)">Marcar</button></td>
    <td *ngIf="mensagemErro">Preencha todos os campos</td>
    <td *ngIf="mensagemOk">Consulta marcada</td>
    <td *ngIf="mensagemNaoAchou">Aluno e profissional não constam no registro</td>
</tr>
</table>

</html>
