<html (mousemove)="onMove()">

<table>
<tr>
   <td><label>Nome Profissional</label></td>
   <td><input [(ngModel)]="profissional.nome" ></td>
   <td><button (click)="criarAluno(profissional)">Adicionar Profissional</button></td>
   <td><button (click)="showRelatorio(profissional)">Gerar Relatorio.</button></td>
</tr>
<tr>
   <td><label>E-mail </label></td>
   <td><input [(ngModel)]="profissional.email" ></td>
   <td><button (click)="searchPro(profissional)">Procurar Profissional.</button></td>
   <td><button (click)="showLessBusca()">Cancelar Procura.</button></td>
</tr>
            <tr>
               <td><label>CPF </label></td>
               <td><input [(ngModel)]="profissional.cpf" ></td>
               <td *ngIf="cpfduplicado">
                 Já existe um profissional com esse CPF.
               </td>
            </tr>
</table>
<table>
      <tr *ngIf = gerarRelatorio>
         <table>
   
            <td><h1>Relatorio do Profissional</h1></td><br>
         </table>
         <table>
            <tr *ngIf=ProfissionalExiste>
                  <th>Nome Profissional.</th><br>
                  <th>CPF</th><br>
                  <th>E-mail para contato.</th><br>
                  <th>Expedientes Cancelados.</th>
               </tr>
               <tr>
                  <td>{{profissionalBusca.nome}}</td><br>
                  <td>{{profissionalBusca.cpf}}</td><br>
                  <td>{{profissionalBusca.email}}</td><br>
                  <td>{{profissionalBusca.cancelamentos}}</td><br>
                  <td><button (click)="removerAndShowLess(profissionalBusca)">Demitir</button></td>
                  <td><button (click)="profissionalBusca.detalhes = !profissionalBusca.detalhes">Detalhes</button></td>
                  
               </tr>
         </table>
      </tr>
   
   </table>

<table>
   <tr *ngIf = buscaProfissional>
      <table>

         <td><h1>Resultado de Busca</h1></td><br>
      </table>
      <table>
         <tr *ngIf=ProfissionalExiste>
               <th>Nome Profissional.</th><br>
               <th>CPF</th><br>
               <th>E-mail para contato.</th><br>
            </tr>
            <tr>
               <td>{{profissionalBusca.nome}}</td><br>
               <td>{{profissionalBusca.cpf}}</td><br>
               <td>{{profissionalBusca.email}}</td><br>
               <td><button (click)="removerAndShowLess(profissionalBusca)">Demitir</button></td>
               <td><button (click)="profissionalBusca.detalhes = !profissionalBusca.detalhes">Detalhes</button></td>
               
            </tr>
      </table>
   </tr>

</table>
<table>
<tr *ngIf="profissionais.length > 0">
   <th>Nome Profissional.</th><br>
   <th>CPF</th><br>
   <th>E-mail para contato.</th><br>
</tr>
<tr *ngFor="let a of profissionais">
   <td>{{a.nome}}</td><br>
   <td>{{a.cpf}}</td><br>
   <td>{{a.email}}</td><br>
   <td><button (click)="removerAluno(a)">Demitir</button></td>
   <td><button (click)="a.detalhes = !a.detalhes">Detalhes</button></td>

   <table *ngIf="a.detalhes">
         <th>Data Expediente.</th>
         <th>Inicio Expediente.</th>
         <th>Fim Expediente.</th>
         <th>Paciente Marcado.</th>
         <td><button (click)="insertExpedienteProfissional(a,profissional.expediente)">Inserir Expediente</button></td><br>
         <tr>
            <td><input [(ngModel)]="profissional.expediente.data"></td>
            <td><input [(ngModel)]="profissional.expediente.inicio"></td>
            <td><input [(ngModel)]="profissional.expediente.fim"></td>
            <td><input [(ngModel)]="profissional.expediente.paciente"></td>
         </tr>
         <tr *ngFor="let b of a.expedientes"> 
               <td>{{b.data}}</td>
               <td>{{b.inicio}}</td>
               <td>{{b.fim}}</td>
               <td>{{b.paciente}}</td>
               <td><button (click)="updatePacienteExpediente(a,b,profissional.expediente.paciente)">Atualizar Paciente</button></td>
               <td><button (click)="removerExpedienteProfissional(a,b)">Excluir Expediente</button></td>

         </tr>
   </table>
</tr>
</table>

</html>
