<html (mousemove)="onMove()">


<h3>
    Aluno:
</h3>
<button (click)="mostrarLista()">
    Buscar aluno existente
</button>

<table>
        <tr *ngIf="mostraLista">
           <th>Nome</th>
           <th>Curso </th>
           <th>CPF </th>
           <th>Gênero </th>
           <th>Telefone </th>
        </tr>
        <tr *ngFor="let a of alunos" name="alunolist">
           <td name="nomelist">{{a.nome}}</td>
           <td>{{a.curso}}</td>
           <td name="cpflist">{{a.cpf}}</td>
           <td>{{a.genero}}</td>
           <td>{{a.telefone}}</td>
           <td><button (click)="preencher(a)">Selecionar</button></td>
        </tr>
        </table>

<table>

<tr>
   <td><label>Nome </label></td>
   <td><input [(ngModel)]="alunoProfissional.aluno.nome" name="namebox"></td>
</tr>
<tr>
    <td><label>Curso </label></td>
    <td><input [(ngModel)]="alunoProfissional.aluno.curso" name="cursobox"> </td>
 </tr>
<tr>
   <td><label>CPF </label></td>
   <td><input [(ngModel)]="alunoProfissional.aluno.cpf" name="cpfbox"></td>
</tr>
<tr>
    <td><label>Gênero </label></td>
    <td><input [(ngModel)]="alunoProfissional.aluno.genero" name="generobox"></td>
 </tr>
<tr>
   <td><label>Telefone </label></td>
   <td><input [(ngModel)]="alunoProfissional.aluno.telefone" name="telefonebox"></td>
</tr>
<tr>
    <td><label>Profissional </label></td>
    <td><input [(ngModel)]="alunoProfissional.profissional.nome" name="profissionalnamebox"> </td>
</tr>
<tr>
    <td><label>Status </label></td>
    <td><input [(ngModel)]="aluno.status" name="statusbox"></td>
 </tr>
 <tr>
    <td><label>Tipo de atendimento </label></td>
    <td><input [(ngModel)]="alunoProfissional.tipoAtendimento" name="tipoDeAtendimento"></td>
 </tr>
<tr>
   <td><label>Especialidade </label></td>
   <td><input [(ngModel)]="alunoProfissional.profissional.especialidade" name="especialidadebox"></td>
</tr>
<tr>
    <td><button (click)="criarAluno(aluno)">Adicionar</button></td>
</tr>
</table>

</html>
