<html (mousemove)="onMove()">
<h3>
    Aluno:
</h3>
<button (click)="mostrarLista()">
    Buscar aluno existente
</button>

<table *ngIf="mostraLista">
        <tr>
           <th>Nome</th>
           <th>Curso </th>
           <th>CPF </th>
           <th>Gênero </th>
           <th>Telefone </th>
        </tr>
        <tr *ngFor="let a of alunosProfissionais" name="alunolist">
           <td name="nomelist">{{a.aluno.nome}}</td>
           <td name="cursolist">{{a.aluno.curso}}</td>
           <td name="cpflist">{{a.aluno.cpf}}</td>
           <td name="generolist">{{a.aluno.genero}}</td>
           <td name="telefonelist">{{a.aluno.telefone}}</td>
           <td><button (click)="preencher(a)">Selecionar {{a.aluno.nome}}</button></td>
        </tr>
</table>

<table id="boxes">

<tr>
   <td><label>Nome </label></td>
   <td><input ngControl="nameInp" [(ngModel)]="alunoProfissional.aluno.nome" name="namebox"></td>
</tr>
<tr>
    <td><label>Curso </label></td>
    <td><input ngControl="cursoInp" [(ngModel)]="alunoProfissional.aluno.curso" name="cursobox"> </td>
 </tr>
<tr>
   <td><label>CPF </label></td>
   <td><input ngControl="cpfInp" [(ngModel)]="alunoProfissional.aluno.cpf" name="cpfbox"></td>
</tr>
<tr>
    <td><label>Gênero </label></td>
    <td><input ngControl="generoInp" [(ngModel)]="alunoProfissional.aluno.genero" name="generobox"></td>
 </tr>
<tr>
   <td><label>Telefone </label></td>
   <td><input ngControl="telefoneInp" [(ngModel)]="alunoProfissional.aluno.telefone" name="telefonebox"></td>
</tr>
<tr>
    <td><label>Profissional </label></td>
    <td><input [(ngModel)]="alunoProfissional.profissional.nome" name="profissionalnamebox"> </td>
</tr>
<tr>
    <td><label>Status </label></td>
    <td><input [(ngModel)]="alunoProfissional.status" name="statusbox"></td>
 </tr>
 <tr>
    <td><label>Tipo de atendimento </label></td>
    <td><input [(ngModel)]="alunoProfissional.tipoAtendimento" name="tipoDeAtendimento"></td>
 </tr>
<tr>
   <td><label>Especialidade </label></td>
   <td><input [(ngModel)]="alunoProfissional.profissional.especialidade" name="especialidadebox"></td>
</tr>
<tr>
    <td><button (click)="criarAlunoProfissional(alunoProfissional)">Adicionar</button></td>
    <td *ngIf="mensagemErro">Preencha todos os campos</td>
</tr>
<tr>
    <td *ngIf="mensagemOk">Registro realizado</td>
</tr>
</table>

</html>
